@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700;800&family=Mulish:wght@400;500;600;700;800;900&display=swap');
/*=============== Variables ================*/
:root{
  /*====== Fonts ======*/
  --heading-main: 'Mulish', sans-serif;
  --paragraph-content: 'Heebo', sans-serif;
  /*====== Colors ======*/
  --primary-color: #026299;
  --secondary-color: #97c219;
  --tertiary-color: ;
  --grey-color: #cacaca;
  --paragraph-color: #474444;
  --white-color: #ffffff;
  --hover-button: #7ea900;
}

/**
 * https://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */

/*=============== Styles Globals ================*/
body{
  font-size: 1.5rem;
  line-height: 1.5;
}
a{
  text-decoration: none;
  font-family: var(--paragraph-content);
}

.btn{
  background-color: var(--secondary-color);
  border:none;
  color: var(--color-white);
  font-family: var(--paragraph-content);
  font-weight: 700;
  padding: 1rem;
  transition: all .3s ease-out;
  text-align:center;
  text-transform: uppercase;
}

.btn:hover{
  background-color: var(--hover-button);
  cursor: pointer;
}

.container {
  margin: 0 auto;
  max-width: 70rem;
}

html{
  box-sizing: border-box;
}

*, *:before, *:after{
  box-sizing: inherit;
}

img{
  display: block;
  height: auto;
  max-width: 100%;
}

p{
  font-size: 1.5rem;
  font-family: var(--paragraph-content);
}

h1{
  font-family: var(--heading-main);
  font-size: 4rem;
  margin: 1.3rem;
}

@media only screen and (max-width: 768px){
  h1{
    font-size: 2.5rem;
    margin: .7rem;
  }
}

h2{
  font-family: var(--heading-main);
  font-size: 2.5rem;
  font-weight: 700;
  margin: 1.3rem 0;
}

@media only screen and (max-width: 768px){
  h2{
    font-size: 1.8rem;
    margin: .8rem 0;
  }
}

h3{
  font-family: var(--heading-main);
  font-size: 2rem;
  font-weight: 700;
  margin: 1.3rem 0;
}

@media only screen and (max-width: 768px){
  h3{
    font-size: 1.4rem;
    margin: .8rem 0;
  }
}

h4{
  font-family: var(--heading-main);
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1.3rem;
}
/*=============== Utilities ================*/
.text-center{
  text-align: center;
}

.max-width-btn{
  max-width: 100%;
}
/*=============== Header and Navigation ================*/
h1{
  color: #000;
}

.site-name{
  text-align: center;
}

.site-name span{
  color: #037bc0;
}

.container-navigation{
  border-top: 1px solid var(--grey-color);
}

.nav-main{
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

@media only screen and (min-width: 768px){
  .nav-main{
    flex-direction: row;
    justify-content: space-between;
  }
}

.hero{
  background-image: url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 38rem;
}

@media only screen and (min-width: 768px){
  .hero{

    height: 48rem;
  }
}

/*=============== Products Categories ================*/
.categories{
  padding: 5rem 0;
}
.categories h2{
  color: var(--primary-color);
  margin: 3rem 0;
  text-align: center;
}

.category a{
  display: block;
  font-size: 1.6rem;
  padding: 1.5rem;
  text-align: center;
}

.category a:hover{
  background-color: var(--primary-color);
  color: #fff;
}

.category img{
  width: 100%;
}

/* .category{
  margin: 2rem 0;
} */

@media only screen and (max-width: 768px){
  .category{
    margin: 2rem 0;
  }

  .category a{
    background-color: var(--primary-color);
    color: #fff;
  }
}

@media only screen and (min-width: 768px){
  .list_categories{
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(3, 1fr);
  }
}

/*=============== Section About Us ================*/
.about_us{
  background-image: linear-gradient(to right,
    transparent 50%,
    var(--primary-color) 50% ),
    url('../images/about_us.jpg');
  background-position: center, center;
  background-repeat: no-repeat;
  /* background-size: 100%, 120rem; */
  background-size: cover;
  margin: 3rem 0;
  /* padding: 10rem 0; */
}

@media only screen and (max-width: 768px){
  .about_us{
    background-image: linear-gradient(to bottom,
      transparent 50%,
      var(--primary-color) 50% ),
      url('../images/about_us.jpg');
    background-size: cover;
    margin: 1.5rem 0;
  }
}

.about_us_grid{
  column-gap: 2rem;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
}

@media only screen and (min-width: 768px){
  .about_us_grid{
    column-gap: 4rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: unset;
  }
}

.text_about{
  color: var(--white-color);
  grid-row: 2 / 3;
  padding: 3.5rem 2.5rem;
  text-align: center;
}

@media only screen and (min-width: 768px){
  .text_about{
    grid-column: 2 / 3;
  }
}

/*=============== Products ================*/
.main-content{
  padding-top: 3rem;
}

.list_of_products{
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(6, 1fr);
  margin: 3rem 0;
}

.product:nth-child(1){
  display: grid;
  grid-column: 1 / 7;
  grid-template-columns: 3fr 2fr;
}

.product:nth-child(1) img{
  height: 43rem;
  object-fit: cover;
  width: 100%;
}

.product:nth-child(2){
  grid-column: 1 / 4;
}

.product:nth-child(2) img,
.product:nth-child(3) img{
  height: 30rem;
  object-fit: cover;
  width: 100%;
}

.product:nth-child(3){
  grid-column: 4 / 7;
}

.product:nth-child(4){
  grid-column: 1 / 3;
}

.product:nth-child(5){
  grid-column: 3 / 5;
}

.product:nth-child(6){
  grid-column: 5 / 7;
}

@media only screen and (max-width: 768px){
  .list_of_products{
    gap: 1.5rem;
    margin: 2rem 0;
  }

  .product:nth-child(1){
    grid-template-columns: unset;
  }

  .product:nth-child(1) img,
  .product:nth-child(2) img,
  .product:nth-child(3) img,
  .product:nth-child(4) img,
  .product:nth-child(5) img,
  .product:nth-child(6) img{
    height: 25rem;
    object-fit: cover;
    width: 100%;
  }

  .product:nth-child(2),
  .product:nth-child(3),
  .product:nth-child(4),
  .product:nth-child(5),
  .product:nth-child(6){
    grid-column: 1 / 7;
  }

  .main-content h3{
    font-size: 2.5rem;
  }

}

.main-content h2{
  color: var(--primary-color);
}

.product{
  background-color: var(--primary-color);
  margin: .5rem 0;
}

.content-product{
  color: var(--white-color);
  margin: 3rem 0;
  padding: 1rem 3rem;
}

.content-product .price{
  font-family: var(--paragraph-content);
  font-size: 2.3rem;
  font-weight: 900;
}

/*=============== Footer ================*/

.site-footer{
  border-top: 1px solid var(--grey-color);
  margin: 5rem 0;
}

.grid-footer{
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 768px){
  .grid-footer{
    grid-template-columns: unset;
    justify-content: center;
  }

  .grid-footer > div{
    margin: .5rem 0;
  }
  .site-footer h4,
  .site-footer p,
  .footer_menu a{
    text-align: center;
  }
}

.site-footer h4,
.site-footer p{
  color: var(--primary-color);
  text-align: center;
}

.footer_menu a{
  color: var(--grey-color);
  display: block;
  text-align: center;
}

/*=============== Page About Us ================*/
.about_content h2{
  color: var(--primary-color);
}
.content_about{
  color: var(--paragraph-color);
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 2fr;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.image_about{
  grid-column: 1 / 2;
  justify-items: : center;
}
.content_paragraph{
  /* display: flex; */
  display: grid;
  /* flex-direction: column; */
  grid-column: 2 / 3;
  justify-content: center;
  padding: 2rem 2.7rem;
}

@media only screen and (max-width: 768px){
  .about_content,
  .about_content h2{
    margin: 4rem 0;
  }

  .content_about{
    grid-template-columns: unset;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }
  .image_about,
  .content_paragraph{
    grid-column: 1 / 3;
  }
}

/*=============== Blog  ================*/
.container-blog{
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}

.article-entry{
  border-bottom: 1px solid var(--grey-color);
  color: var(--white-color);
  margin: 1.5rem 0;
  padding: 1.5rem 0;
}

.article-entry:last-of-type{
  border: none;
}

.entry-meta{
  display: flex;
  justify-content: space-between;
}

.entry-meta p{
  color: var(--paragraph-color);
  font-size: 1.3rem;
  font-weight: 700;
}

.entry-meta span{
  color: var(--primary-color);
}

.content-meta p{
  color: var(--paragraph-color);
  margin-bottom: 2.5rem;
}

.content-entries h3{
  color: var(--primary-color);
}

.content-entries li{
  list-style: none;
}

@media only screen and (max-width: 768px){
  .container-blog{
    grid-template-columns: unset;
  }

  .entry-meta{
    display: grid;
    justify-content: center;
  }

  .content-meta{
    padding: 1rem 2.5rem;
  }

  .article-entry h2{
    text-align: center;
  }

  .article-entry a{
    display: block;
    margin: 0 3rem;
  }
}

/*=============== Gallery  ================*/
.gallery{
  display: grid;
  gap: 2rem;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 768px){
  .gallery{
    grid-template-columns: repeat(3, 1fr);
  }
}

/*=============== Contact Form  ================*/
.form-contact{
  margin: 0 auto;
  max-width: 40rem;
}

.form-contact input[type="submit"]{
  color: var(--white-color);
}

.form-contact fieldset{
  border: 1px solid #474444;
  margin: 1.5rem 0;
}

.form-contact legend{
  background-color: var(--primary-color);
  color: var(--white-color);
  font-family: var(--paragraph-content);
  margin: 0 auto;
  padding: 1rem 0;
  text-align: center;
  width: 70%;
}

.field{
  display: flex;
  margin: 1rem 0;
}

.field label{
  color: var(--primary-color);
  flex-basis: 7rem;
  font-family: var(--paragraph-content);
}

.field input,
.field textarea{
  color: var(--grey-color);
  font-family: var(--paragraph-content);
}

.field input:not([type="radio"]),
.field textarea,
.field select{
  border: 1px solid #474444;
  flex: 1;
  font-family: var(--paragraph-content);
  padding: .5rem;
}

@media only screen and (max-width: 768px){
  .form-contact .btn{
    margin: 0 auto;
    width: 100%
  }
}
