@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700;800;900&family=Lato:wght@400;700;900&display=swap');

/*=============== Variables ================*/
:root{
  /*====== Fonts ======*/
  --heading-main: 'Kanit', sans-serif;
  --paragraph-content: 'Lato', sans-serif;
  /*====== Colors ======*/
  --primary-color: #026299;
  --secondary-color: ;
  --tertiary-color: ;
  --grey-color: #cacaca;
  --white-color: #fff;
}

/**
 * https://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */

/*=============== Styles Globals ================*/
body{
  font-size: 1.5rem;
  line-height: 2;
}
a{
  text-decoration: none;
  font-family: var(--paragraph-content);
}

.container {
  margin: 0 auto;
  max-width: 120rem;
}

html{
  box-sizing: border-box;
}

*, *:before, *:after{
  box-sizing: inherit;
}

img{
  display: block;
  height: auto;
  max-width: 100%;
}

p{
  font-family: var(--paragraph-content);
}

h1{
  font-size: 4rem;
}

h2, h3{
  font-family: var(--heading-main);
  font-size: 3rem;
  font-weight: 700;
}

/*=============== Header and Navigation ================*/
h1{
  color: #000;
}

.site-name{
  text-align: center;
}

.site-name span{
  color: #037bc0;
}

.container-navigation{
  border-top: 1px solid var(--grey-color);
}

.nav-main{
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.hero{
  background-image: url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 48rem;
}

/*=============== Products Categories ================*/
.categories h2{
  color: #037bc0;
  text-align: center;
}

.category a{
  display: block;
  font-size: 1.6rem;
  padding: 1.5rem;
  text-align: center;
}

.category a:hover{
  background-color: var(--primary-color);
  color: #fff;
}

.list_categories{
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(3, 1fr);
}

/*=============== Block About Us ================*/
.about_us{
  background-image: linear-gradient(to right,
    transparent 50%,
    var(--primary-color) 50% ),
    url('../images/about_us.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%, 120rem;
  padding: 10rem 0;
}

.about_us_grid{
  column-gap: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}

.text_about{
  color: var(--white-color);
  grid-column: 2 / 3;
  text-align: center;
}
